

.form-control:focus {
  box-shadow: none;
  border-color: #74c7d2
}

.profile-button {
  background: rgb(12, 179, 215);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #0cb3d7
}

.profile-button:focus {
  background: #d3f3ff;
  box-shadow: none
}

.profile-button:active {
  background: #d3f3ff;
  box-shadow: none
}

.back:hover {
  color: #0cb3d7;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #c2f1fc;
  color: #fff;
  cursor: pointer;
  border: solid 1px #fbb431
}

/*****/
.container-btn-file {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #0cb3d7;
  color: #fff;
  border-style: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 150ms;
}
.container-btn-file input[type="file"] {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0;
  cursor: pointer;
}
.container-btn-file > svg {
  margin-right: 1em;
}
.container-btn-file::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #fbb431;
  z-index: -1;
  transition: all 350ms;
}
.container-btn-file:hover::before {
  width: 100%;
}
