<div style="background: #11101d ;">*
  <div class="card">
    <div class="card-body">
      <span class="card-icon" > <i  class='bx bx-message-alt-error'></i></span>
      <span class="card-txt">Nous avons détecté qu'il y a exactement <span class="remark">{{this.psd['decision']}} articles </span>  dans <span class="remark">{{this.psd['project number']}} projets </span> qu'il faut fixer avec des décisions le plus tôt possible.</span>
    </div>
 </div>
  <div class="dashboard-container">

  <div class="chart-container">
   Risque De Perte
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nom d'article</th>
        <th scope="col">Projet</th>
        <th scope="col">La Marge</th>
        <th scope="col">Jours Consommés</th>
        <th scope="col">RAF</th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="chart-container">
  Risque de blockage
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nom d'article</th>
        <th scope="col">Projet</th>
        <th scope="col">La Marge</th>
        <th scope="col">Jours Consommés</th>
        <th scope="col">RAF</th>
      </tr>
      </thead>
    </table>
  </div>

</div>
  <div class="chart-container" style="grid-column: span 2;font-weight: bold">
  </div>
</div>
